<h3>Put in the url</h3>

<div class="container">Description: Grab some jpegs for your own use!!!</div>

<!-- Recording Position: 10/03 42:00 -->
<form method="GET" action="/result" class="form-label">
    <input type="text" id="urlAskFormInputField" name="URL" value="">
    <br>
    <input type="submit" value="Submit">
</form>