/* styles.css */
html {
    text-align: center;
}

h1, h3 {
    color: brown;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 50%;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.resultImages {
    padding: 12px 20px;
    margin: 100px;
    display: inline-block;
}


